<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/table.css">
</head>

<body>
  <table class="table table-responsive table-academic-program tab">
    <!-- table header -->
    <thead>
      <tr>
        <th>Academic Program</th>
        <th>5</th>
        <th>4</th>
        <th>3</th>
        <th>2</th>
        <th>1</th>
      </tr>
    </thead>

    <!-- table questions -->
    <tr>
      <td>
        <div class="align">
          <span>a.</span>
          <p>Subjects in the curriculum are appropriate to chosen program.</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row1-radio" id="radio-btn1" value="5">
      </td>
      <td>
        <input type="radio" name="row1-radio" id="radio-btn2" value="4">
      </td>
      <td>
        <input type="radio" name="row1-radio" id="radio-btn3" value="3">
      </td>
      <td>
        <input type="radio" name="row1-radio" id="radio-btn4" value="2">
      </td>
      <td>
        <input type="radio" name="row1-radio" id="radio-btn5" value="1">
      </td>

    </tr>
    <tr>
      <td>
        <div class="align">
          <span>b.</span>
          <p>References and other course materials are adequate, updated, clear and concise.</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row2-radio" id="radio-btn6" value="5">
      </td>
      <td>
        <input type="radio" name="row2-radio" id="radio-btn7" value="4">
      </td>
      <td>
        <input type="radio" name="row2-radio" id="radio-btn8" value="3">
      </td>
      <td>
        <input type="radio" name="row2-radio" id="radio-btn9" value="2">
      </td>
      <td>
        <input type="radio" name="row2-radio" id="radio-btn10" value="1">
      </td>

    </tr>
    <tr>
      <td>
        <div class="align">
          <span>c.</span>
          <p>I can participate by giving comments and suggestions relevant to the course.</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row3-radio" id="radio-btn11" value="5">
      </td>
      <td>
        <input type="radio" name="row3-radio" id="radio-btn12" value="4">
      </td>
      <td>
        <input type="radio" name="row3-radio" id="radio-btn13" value="3">
      </td>
      <td>
        <input type="radio" name="row3-radio" id="radio-btn14" value="2">
      </td>
      <td>
        <input type="radio" name="row3-radio" id="radio-btn15" value="1">
      </td>

    </tr>
    <tr>
      <td>
        <div class="align">
          <span>d.</span>
          <p>Course syllabus is well-organised, implemented and followed.</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row4-radio" id="radio-btn16" value="5">
      </td>
      <td>
        <input type="radio" name="row4-radio" id="radio-btn17" value="4">
      </td>
      <td>
        <input type="radio" name="row4-radio" id="radio-btn18" value="3">
      </td>
      <td>
        <input type="radio" name="row4-radio" id="radio-btn19" value="2">
      </td>
      <td>
        <input type="radio" name="row4-radio" id="radio-btn20" value="1">
      </td>
    </tr>

    <tr>
      <td>
        <div class="align">
          <span>e.</span>
          <p>Requirements and workloads are practical and manageable.</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row5-radio" id="radio-btn21" value="5">
      </td>
      <td>
        <input type="radio" name="row5-radio" id="radio-btn22" value="4">
      </td>
      <td>
        <input type="radio" name="row5-radio" id="radio-btn23" value="3">
      </td>
      <td>
        <input type="radio" name="row5-radio" id="radio-btn24" value="2">
      </td>
      <td>
        <input type="radio" name="row5-radio" id="radio-btn25" value="1">
      </td>
    </tr>

    <tr>
      <td>
        <div class="align">
          <span>f.</span>
          <p>Course syllabus is well-organised, implemented and followed.</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row6-radio" id="radio-btn26" value="5">
      </td>
      <td>
        <input type="radio" name="row6-radio" id="radio-btn27" value="4">
      </td>
      <td>
        <input type="radio" name="row6-radio" id="radio-btn28" value="3">
      </td>
      <td>
        <input type="radio" name="row6-radio" id="radio-btn29" value="2">
      </td>
      <td>
        <input type="radio" name="row6-radio" id="radio-btn30" value="1">
      </td>
    </tr>

  </table>

  <table class="table table-responsive table-academic-program tab">
    <!-- table header -->
    <thead>
      <tr>
        <th>Academic Program</th>
        <th>5</th>
        <th>4</th>
        <th>3</th>
        <th>2</th>
        <th>1</th>
      </tr>
    </thead>

    <!-- table questions -->
    <tr>
      <td>
        <div class="align">
          <span>g.</span>
          <p>Another question 7</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row7-radio" id="radio-btn31" value="5">
      </td>
      <td>
        <input type="radio" name="row7-radio" id="radio-btn32" value="4">
      </td>
      <td>
        <input type="radio" name="row7-radio" id="radio-btn33" value="3">
      </td>
      <td>
        <input type="radio" name="row7-radio" id="radio-btn34" value="2">
      </td>
      <td>
        <input type="radio" name="row7-radio" id="radio-btn35" value="1">
      </td>
    </tr>
    <tr>
      <td>
        <div class="align">
          <span>g.</span>
          <p>Another question 8</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row8-radio" id="radio-btn31" value="5">
      </td>
      <td>
        <input type="radio" name="row8-radio" id="radio-btn32" value="4">
      </td>
      <td>
        <input type="radio" name="row8-radio" id="radio-btn33" value="3">
      </td>
      <td>
        <input type="radio" name="row8-radio" id="radio-btn34" value="2">
      </td>
      <td>
        <input type="radio" name="row8-radio" id="radio-btn35" value="1">
      </td>
    </tr>
    <tr>
      <td>
        <div class="align">
          <span>g.</span>
          <p>Another question 9</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row9-radio" id="radio-btn31" value="5">
      </td>
      <td>
        <input type="radio" name="row9-radio" id="radio-btn32" value="4">
      </td>
      <td>
        <input type="radio" name="row9-radio" id="radio-btn33" value="3">
      </td>
      <td>
        <input type="radio" name="row9-radio" id="radio-btn34" value="2">
      </td>
      <td>
        <input type="radio" name="row9-radio" id="radio-btn35" value="1">
      </td>
    </tr>
    <tr>
      <td>
        <div class="align">
          <span>g.</span>
          <p>Another question 10</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row10-radio" id="radio-btn31" value="5">
      </td>
      <td>
        <input type="radio" name="row10-radio" id="radio-btn32" value="4">
      </td>
      <td>
        <input type="radio" name="row10-radio" id="radio-btn33" value="3">
      </td>
      <td>
        <input type="radio" name="row10-radio" id="radio-btn34" value="2">
      </td>
      <td>
        <input type="radio" name="row10-radio" id="radio-btn35" value="1">
      </td>
    </tr>
    <tr>
      <td>
        <div class="align">
          <span>g.</span>
          <p>Another question 11</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row11-radio" id="radio-btn31" value="5">
      </td>
      <td>
        <input type="radio" name="row11-radio" id="radio-btn32" value="4">
      </td>
      <td>
        <input type="radio" name="row11-radio" id="radio-btn33" value="3">
      </td>
      <td>
        <input type="radio" name="row11-radio" id="radio-btn34" value="2">
      </td>
      <td>
        <input type="radio" name="row11-radio" id="radio-btn35" value="1">
      </td>
    </tr>
    <tr>
      <td>
        <div class="align">
          <span>g.</span>
          <p>another question 12</p>
        </div>
      </td>

      <td>
        <input type="radio" name="row12-radio" id="radio-btn31" value="5">
      </td>
      <td>
        <input type="radio" name="row12-radio" id="radio-btn32" value="4">
      </td>
      <td>
        <input type="radio" name="row12-radio" id="radio-btn33" value="3">
      </td>
      <td>
        <input type="radio" name="row12-radio" id="radio-btn34" value="2">
      </td>
      <td>
        <input type="radio" name="row12-radio" id="radio-btn35" value="1">
      </td>
    </tr>
  </table>

  <button>click me</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/scripts/table.js"></script>
</body>

</html>
